<section class="column col-between">
  <div>
    <%= render partial:'shared/navbar', 
    locals: {lbutton: "menu.svg", back_path:'', title: "Categories",  rbutton: :logout} %>

    <ul id="category_list" class="mh-110">
      <% if @groups.empty? %>
        <li class="card text-center">
          <h2>There are no categories</h2>
        </li>
      <% else %>
        <%= render @groups %>
      <% end %>
    </ul>
  </div>
  <div class="pv-8">
    <%= button_to "Add category", new_group_path, method: :get, class: "btn-full bg-secondary" %>
  </div>
</section>
