/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'novabold';
  src: url("fonts/FontsFree-Net-Proxima-Nova-Bold.otf");
}

@font-face {
  font-family: 'novalight';
  src: url("fonts/FontsFree-Net-Proxima-Nova-Light.ttf");
}

:root {
  --primary: #3778c2;
  --secondary: #5fb523;
  --white: whitesmoke;
  --text: #434b54;
  --sect-width: 420px;
  --width: 388px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'novalight', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px blue solid;
}

h1,
h2,
h3,
h4 {
  font-family: 'novabold', sans-serif;
}

section {
  /* background-color: var(--bglight); */
  border: 2px lightslategray solid;
  height: calc(100vh - 4px);
  max-width: var(--sect-width);
  width: 100%;
}

.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-light {
  background-color: var(--white);
  color: var(--text);
}

.btn-full {
  border: none;
  padding: 16px 32px;
  text-transform: uppercase;
  text-align: center;
  width: var(--width);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-between {
  justify-content: space-between;
}

.col-center {
  justify-content: center;
}

.pv-4 {
  padding: 8px 0;
}

.vertical-90 {
  height: 90vh;
}
